input[type=number] {
    -moz-appearance:textfield;
}
 
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

#odc-body{
    position: relative;
    width: 100%;
    height: 100%;
}

#odc-header{
    top: 0;
    width: 100%;
    height: 100px; 
    position: absolute;
}

#workspace{
    font-family: 'Oswald', sans-Serif;
    width:100%;
    margin-top:85px;
    float: right;
    height:calc(100vh - 140px);
    height:-moz-calc(100vh - 140px);
    height:-webkit-calc(100vh - 140px);
}

#unityViewport{
    height: 100%;
}

#unityContainer{
    height: 100%;
}

.scrollMenu{
    margin-top: 0px;
    height: 100%;
    overflow-y:auto;
}

#paramContainer{
    margin-right: 150px;
    min-width: 200px;
}

.tooltip-inner {
    max-width: 145px;
    background-color: #FFC110;
    color: #3F3F3F;
}

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: #FFC110;
}

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #FFC110;
}

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: #FFC110;
}

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: #FFC110;
}

#footer{
    bottom: 0;
    width: 100%;
    height: 50px; 
    position:absolute;
}

.setFont {
    font-family: 'Oswald', sans-Serif;
    color: #3F3F3F;
}

#paramHeader{
    font-size: large;
}

.card{
    border: none;
}

.card-header{
    background-color: white;
    border: none;
}

.card-header a{
	color: #3F3F3F;
    text-decoration: none;
    font-size: medium;
}

a[data-toggle="collapse"] .rotate {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
 }
 a[data-toggle="collapse"].collapsed .rotate {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
 }

label{
    font-size: small;
}

.inputDiv{
    background-color: #8E8E8E;
    border-radius: 20px;
}

input{
    font-size: small;
    min-width: 75px;
    border-radius: 20px;
    text-align: center;
    color: #EAEAEA;
    border-color: transparent;
    background-color: #3F3F3F;
    outline: none;
}

#OrderButton{
    background-color: #3F3F3F;
    color: #EAEAEA;
    padding: 10px 50px;
    border-radius: 40px;
    font-weight: bold;
    font-size: large;
    margin-bottom: 60px;
}

#goToHomepage{
    background-color: #3F3F3F;
    color: #EAEAEA;
    border-radius: 20px;
    padding: 7px 10px;
}

#noConnection{
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}

#noConnectionSpan{
    
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tryAgain{
    background-color: #3F3F3F;
    color: #EAEAEA;
    border-radius: 20px;
    padding: 7px 20px;
    text-decoration: none;
}

div#loadingBox {
    width: 100%;
    height: 0px;
    position: absolute;
    top: 50%;
    margin-top: 137px;
    text-align: center;
    border-radius: 20px;
}

div#icon {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -100px;
    background-image: url("Images/odicoLogo.png");
    background-repeat: no-repeat;
}

div#bgBar {
    display: none;
    position: absolute;
    width: 200px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    height: 25px;
    background-color:  #3F3F3F;
    border-radius: 10px;
}

div#progressBar {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    width: 0px;
    height: 25px;
    background-color: #8E8E8E;
    border-radius: 10px;
}

p#loadingInfo {
    color: #fff;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    font-family: 'Oswald', sans-Serif;
    text-align: center;
    top: 50%;
    margin-top: -10px;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0px 0px 5px #000;
}

div#spinner {
    position: absolute;
    height: 25px;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    width: 200px;
    position: relative;
    overflow: hidden;
    background-color: #3F3F3F;
    border-radius: 10px;
}

div#spinner:before {
    display: block;
    position: absolute;
    content: "";
    width: 150%;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -100px;
    height: 25px;
    background-color: #EAEAEA;
    border-radius: 10px;
}

@keyframes spinner {
    0% {
        transform: translate3d(-50%, -50%, 0) rotate(0deg);
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        -moz-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        -ms-transform: translate3d(-50%, -50%, 0) rotate(0deg);
        -o-transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
        transform: translate3d(-50%, -50%, 0) rotate(360deg);
        -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
        -moz-transform: translate3d(-50%, -50%, 0) rotate(360deg);
        -ms-transform: translate3d(-50%, -50%, 0) rotate(360deg);
        -o-transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

#processing{
    z-index: 9;  
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    display: none;
    margin-top: -60px;
}

#updateSpinner {
    opacity: 1;
    transition: opacity linear 0.1s; 
    z-index: 9;  
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    display: none;
}

#updateSpinner::before {
    animation: 2s linear infinite spinner;
    border: solid 3px #eee;
    border-bottom-color: #3F3F3F;
    border-radius: 50%;
    content: "";
    height: 40px;
    left: 50%;
    opacity: inherit;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    transform-origin: center;
    width: 40px;
    will-change: transform;
    z-index: 9; 
}

